.negritaFondoAzul {
	font-family: Arial;
	color: white;
	background-color: #005BA8;
	font-weight: bold;
	min-width: 52px !important;
}

.fondoCeleste {
	font-family: Arial;
	background-color: #D9EAF7;
	min-width: 52px !important;
}

.fondoCelesteClaro {
	color: white;
	background-color: #0094e5;
}

.fondoBlanco {
	background: white;
}

.aliniadoDerecha {
	float: right;
}

.titulo {
	padding-left: 0px !important;
	margin-top: 25px !important;
	margin-bottom: 35px !important;
	display: inherit !important;
}